<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvLBIowd5Fxy1TVvukMi29its5-JsSJQA</string>
	<key>GCM_SENDER_ID</key>
	<string>139384714510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>David.PokeRemember</string>
	<key>PROJECT_ID</key>
	<string>pokeremember-f22d6</string>
	<key>STORAGE_BUCKET</key>
	<string>pokeremember-f22d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139384714510:ios:e26e54035f67609264535f</string>
</dict>
</plist>